/* Thanks to dmac37 for this hex technique */
@import url(http://fonts.googleapis.com/css?family=Lato:300);
/* Variables */

html{
    background-image: url("../img/swirl.png");
    background-repeat: repeat;
}
body{
    background-color: rgba(0,0,0,0);
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.4em;
  font-weight: 300;
  text-align: center;
  font-variant-caps: small-caps;
  margin: 10px;
}

.section-hex {
  margin: 0 auto;
  text-align: center;
  width: 960px;
    margin-top: -80px;
}

.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}

.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hiddenagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  /*@include background-size(($width + ($width * .20)) ($width + ($width * .20)));
  background-position: 50%;*/
  position: relative;
  visibility: visible;
  width: 100%;
}

.desc {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 300;
  height: 440px;
  line-height: 3em;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 220px;
}
.desc-box{
    color: #444;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
    height: 200px;
    padding-top: 11%;
  text-align: center;
    visibility: visible;
    background: url('../img/hexbg.jpeg');
}
.desc-box h2{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    font-variant-caps: all-small-caps;
}

.desc h2{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    font-variant-caps: all-small-caps;
}

.base{
  background: rgb(190, 227, 219);
}

.desc.doing {
  background: rgb(200, 200, 200);
    cursor: default;
}
.desc h2 {
  margin: 165px 10px 0 10px;
}
.desc p {
  text-transform: lowercase;
}
footer{
    background-color: #FAF9F9;
    background: transparent;
    text-align: center;
}

.index-header {
    margin-top: 50px;
    margin-bottom: -40px;
}

.smallpage-buttons{
    display: none;
}

@media(max-width:960px) {
    .smallpage-buttons{
        display: inherit;
    }
    .large-hexagons{
        display: none;
    }
    footer{
        background-color: white;
    }
}

.frontpage-header {
    padding-top: 80px;
    background-color: rgba(0,0,0,0) !important;
    background: none !important;
    font-family: 'Oxygen',sans-serif;
}

.smallbox {
    margin-bottom: 10px;
}
.smallpage-buttons a{
    text-decoration: none !important;
}

.navbar{
    background-color: rgba(255,255,255,0.95);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(146,199,188,0);
    color: #333 !important;
}
